
.form_input {
  margin-bottom: 20px !important;
}

.form_button {
    color: #fff !important;
    background-color: #B99A5F !important;
    border-radius: 5px !important;
    margin-top: 20px !important;
    text-transform: none !important;
}