.carousel_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 9%;
}

.carousel_title {
  font-weight: 600 !important;
}

.carousel {
    width: 100%;
    margin-top: 5%;
}

.carousel .slick-prev {
  background: black;
  margin-right: 50px !important;
}

.carousel .slick-next {
  background: black;
  margin-right: 50px !important;
}

.carousel .slick-prev:hover {
  background: black;
  margin-right: 10px !important;
}

.carousel .slick-next:hover {
  background: black;
}

.carousel .slick-list {
  margin-right: 2%;
  margin-left: 2%;
}

.carousel_item {
    max-width: 90%;
    border-radius: 0 !important;
    background-color: #FAFAFA !important;
    box-shadow: none !important;
}

.carousel_button {
  color: #B99A5F !important;
  font-size: 14px !important;
  border: 0px !important;
  box-shadow: none !important;
}

.slick-prev{
  display: block;
  height: 17.5px;
  width: 8.75px;
  background-color: #FAFAFA !important;
}

.slick-next{
  display: block;
  height: 17.5px;
  width: 8.75px;
  background-color: #FAFAFA !important;
}

