.service_main {
  height: 89.9vh !important;
  margin: 0% 0% 0% 5%;
  overflow: hidden;
 
}


.service_content {
  padding-top: 10% !important; 
  padding-right: 10% !important;
}

.servicedetails_content h1 {
  font-size: 50px;
  font-family: "Playfair Display";
  font-weight: 600;
}

.servicedetails_content button {
  max-width: 300px;
  font-size: 16px;
  height: 53px;
}

.service_image img {
  width: 100%;
  overflow-y: hidden;
  object-fit: cover;
}
